<main class="content-wrapper">
<section class="container padding-top-3x padding-bottom">

    <h1 class="space-top-half">Shopping Cart</h1>
    <div class="row padding-top">
        <!-- Cart -->
        <div class="col-sm-8 padding-bottom-2x">
            <p class="text-sm">
                <span class="text-gray">Currently</span> 3 items
                <span class="text-gray"> in cart</span>
            </p>
            <div class="shopping-cart">
                <!-- Item -->
                {{#each productResult}}
                    <div class="item">
                        <a href="/shop" class="item-thumb">
                            <img src="{{imgPath}}" alt="Item">
                        </a>
                        <div class="item-details">
                            <h3 class="item-title"><a href="/shop">{{name}}</a></h3>
                            <h4 class="item-price">{{price}}</h4>
                            <div class="count-input">
                                <a class="incr-btn decrease" href="#">–</a>
                                <input id="prod-id" type="hidden" value="{{_id}}">
                                <input id="quantity" class="quantity" type="text" value="{{orderQuantity}}">
                                <input id="price" type="hidden" value="{{price}}">
                                <a class="incr-btn increase" href="#">+</a>
                            </div>
                        </div>
                        <button class="item-remove">
                            <i class="material-icons remove_shopping_cart"></i>
                        </button>
                    </div><!-- .item -->
                {{/each}}
            </div><!-- .shopping-cart -->
            <!-- Coupon -->
            <div class="">
                <p class="text-gray text-sm">Have discount coupon?</p>
                <form method="post" class="row">
                    <div class="col-md-8 col-sm-7">
                        <div class="form-element">
                            <input type="text" class="form-control" placeholder="Enter coupon" required>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-5">
                        <button type="submit" class="btn btn-default btn-ghost btn-block space-top-none space-bottom">Apply Coupon</button>
                    </div>
                </form>
            </div>
        </div><!-- .col-sm-8 -->
        <!-- Sidebar -->
        <div class="col-md-3 col-md-offset-1 col-sm-4 padding-bottom-2x">
            <aside>
                <h3 class="toolbar-title">Cart subtotal:</h3>
                <h4 class="amount">{{total}}</h4>
                <p class="text-sm text-gray">* Note: This amount does not include costs for international shipping. You will be able to calculate shipping costs on checkout.</p>
                <button id="update-cart-btn" class="btn btn-default btn-block waves-effect waves-light">Update Cart</button>
                <button id="checkout-btn" class="btn btn-primary btn-block waves-effect waves-light space-top-none">Checkout</button>
            </aside>
        </div><!-- .col-md-3.col-sm-4 -->
    </div><!-- .row -->
</section><!-- .container -->
</main>