<!-- Shop Catalog -->
<section class="container padding-top-3x padding-bottom-3x">

    <!-- Sidebar Toggle / visible only on mobile -->
    <div class="sidebar-toggle">
        <i class="material-icons filter_list"></i>
    </div>

    <h1 class="space-top-half">구매하기</h1>
    <div class="row padding-top">

        <!-- Sidebar (Filters) -->
        <div class="col-md-3 col-sm-4">
            <aside class="sidebar">
                <span class="sidebar-close"><i class="material-icons close"></i></span>
                <div class="widgets">

                    <!-- Categories Widget -->
                    <div class="widget widget-categories">
                        <h3 class="widget-title">Categories</h3>
                        <ul>
                            <li class="active"><a href="#">All {{noOfProducts}}</a></li>
                            {{#each productsPivot}}
                                <li>
                                    <a href="#">{{_id}} {{count}}</a>
                                    <input type="hidden" value="{{_id}}">
                                </li>
                            {{/each}}
                        </ul>
                    </div><!-- .widget.widget-categories -->

                    <!-- Sorting Widget -->
                    <div class="widget widget-sorting">
                        <h3 class="widget-title">Sort By</h3>
                        <ul>
                            <li class="active"><a href="#">
                                <i class="material-icons sort"></i>
                                기본
                            </a></li>
                            <li><a href="#">
                                <i class="material-icons favorite_border"></i>
                                인기순
                            </a></li>
                            <li><a href="#">
                                <i class="material-icons vertical_align_top"></i>
                                최신순
                            </a></li>
                            <li><a href="#">
                                <i class="material-icons star_border"></i>
                                점수순
                            </a></li>
                            <li><a href="#">
                                <i class="material-icons sort_by_alpha"></i>
                                글자순?
                            </a></li>
                        </ul>
                    </div><!-- .widget.widget-sorting -->

                </div><!-- .widgets -->
            </aside><!-- .sidebar -->
        </div><!-- .col-md-3.col-sm-4 -->

        <!-- Products Grid -->
        <div class="col-md-9 col-sm-8">

            <!--&lt;!&ndash; Shop Bar &ndash;&gt;-->
            <!--<div class="shop-bar">-->
            <!--<div class="column">-->
            <!--<p class="text-sm space-bottom-none">-->
            <!--<span class="text-gray">Showing</span> 1-12 items-->
            <!--</p>-->
            <!--</div>&lt;!&ndash; .column &ndash;&gt;-->
            <!--<div class="column">-->
            <!--<form method="get" class="search-box">-->
            <!--<input type="text" class="form-control" placeholder="Search shop">-->
            <!--<button type="submit">-->
            <!--<i class="material-icons search"></i>-->
            <!--</button>-->
            <!--</form>&lt;!&ndash; form.search-box &ndash;&gt;-->
            <!--</div>&lt;!&ndash; .column &ndash;&gt;-->
            <!--</div>&lt;!&ndash; .shop-bar &ndash;&gt;-->

            <div class="row">

                <!-- Item -->
                {{#each productArr}}
                    <div class="col-md-4 col-sm-6">
                        <div class="shop-item">
                            <div class="shop-thumbnail">
                                <a href="/shop/detail/{{_id}}" class="item-link"></a>
                                <img src="{{largeImagePath}}" alt="Shop item">
                                <div class="shop-item-tools">
                                    <a href="#" class="add-to-cart">
                                        <em>장바구니에 넣기</em>
                                        <input type="hidden" value="{{_id}}">
                                        <svg x="0px" y="0px" width="32px" height="32px" viewBox="0 0 32 32">
                                            <path stroke-dasharray="19.79 19.79" stroke-dashoffset="19.79"
                                                  fill="none" stroke="#FFFFFF" stroke-width="2"
                                                  stroke-linecap="square" stroke-miterlimit="10"
                                                  d="M9,17l3.9,3.9c0.1,0.1,0.2,0.1,0.3,0L23,11"/>
                                        </svg>
                                    </a>
                                </div>
                            </div>
                            <div class="shop-item-details">
                                <a href="/shop/detail/{{_id}}" class="btn btn-ghost btn-sm btn-primary waves-effect waves-light">{{name}}</a>
                                <a href="/shop/detail/{{_id}}" class="btn btn-ghost btn-sm btn-danger waves-effect waves-light">
                                    &#65510; {{price}}
                                </a>
                            </div>
                        </div><!-- .shop-item -->
                    </div><!-- .col-md-4.col-sm-6 -->
                {{/each}}
            </div>
            <hr>

            <!-- Pagination -->
            <div class="pagination padding-bottom">
                <div class="page-numbers">
                    <a href="#">1</a>
                    <a href="#">2</a>
                    <span class="active">3</span>
                    <a href="#">4</a>
                    <span>...</span>
                    <a href="#">10</a>
                </div>
                <div class="pager">
                    <a href="#">Prev</a>
                    <span>|</span>
                    <a href="#">Next</a>
                </div>
            </div>
        </div><!-- .col-md-9 col-sm-8 -->
    </div><!-- .row -->
</section><!-- .container -->